body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.header {
    font-size: 1.5rem;
    margin: 20px 0;
}

#burger-menu{
    width: 30%;
    height: 30%;
}