<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticketpreise</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style/style.main.css" />
    <link rel="stylesheet" href="./style/style.tickets.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <h1 class="page-title">Tickets kaufen</h1>

    <%- include('partials/footer') %>
  </body>
</html>
