<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.main.css" />
    <link rel="stylesheet" href="style/style.groups.css" />
    <title>Group-Tickets</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <div style="width: 40%">
      <h1>Gruppentickets</h1>
      <div class="textBox">
        <h3>
          Hier können sie eine Anfrage für die speziellen Gruppentarife senden.
          Bitte berücksichtigen sie, dass diese Gruppentarife erst ab Gruppen
          über 10 Personen beansprucht werden können
        </h3>
      </div>
    </div>

    <div style="width: 40%">
      <h2>Kontaktangaben</h2>
      <div class="textBox">
        <h3>Email Adresse: anfragen@zoozuerich.ch</h3>
        <br />
        <h3>Telefon: 044 254 25 38</h3>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
