<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tier-Wiki</title>
    <link rel="stylesheet" href="style/style.main.css" />
    <link rel="stylesheet" href="style/style.wiki.css" />
  </head>
  <body>
    <header><%- include('partials/header') %></header>
    <main>
      <h1>Tier-Wiki</h1>
      <p>
        Willkommen im Tier-Wiki! Klicken Sie auf ein Tier, um mehr Informationen
        zu sehen:
      </p>

      <!-- Buttons für Tiere -->
      <button onclick="showAnimalData('lion')">Löwe</button>
      <button onclick="showAnimalData('elephant')">Elefant</button>
      <button onclick="showAnimalData('giraffe')">Giraffe</button>

      <!-- Container für Tierdaten -->
      <div id="animal-data" style="display: none">
        <h2 id="animal-name"></h2>

        <img id="animal-image" src="" alt="" style="display: none" />
        <p id="animal-description"></p>
        <p id="animal-habitat"></p>
        <p id="animal-diet"></p>
        <p id="animal-size"></p>
        <p id="animal-weight"></p>
        <p id="animal-lifespan"></p>
        <p id="animal-status"></p>
      </div>
    </main>
    <footer><%- include('partials/footer') %></footer>

    <!-- Externe JavaScript-Datei -->
    <script src="js/wiki.js"></script>
  </body>
</html>
