<header>
    <div class="header-container">
        <a href="/"><img src="../images/logo-zoo.png" alt="Logo des Zoo Zürich" class="header-logo"></a>
        <img src="../images/burger-bar.png" alt="Burger-Menu" id="burger-Menu" class="header-menu">
    </div>
</header>
<main>
